body{
	background-color: #000;
	color: #eee;
}

#f-viewer{
	background-color: #050505;
	overflow: hidden;
	width: 100%;
	height: 100%;
	perspective: 100vw; /*required for CSS 3d (rotateY to show correctly)*/
	text-align: center;
}

/*buttons*/
#nextBtn{
	position: absolute;
	right: 0;
	top: 95%;
}
#prevBtn{
	position: absolute;
	left: 0;
	top: 95%;
}

/*align images to center*/
.fv-image{
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	transition: left 1s, transform 1s, z-index 1s;
}

/*classes to orient images compared to viewer*/
.fv-image.left{
	transform: rotateY(70deg);
	z-index: 1000 !important;
}

.fv-image.center{
	z-index: 1001 !important;
}

.fv-image.right{
	transform: rotateY(-70deg);
}